<% provide(:title, "Inicio") %>
<div class="jumbotron">
	<div class="container">
	  <h1 class="display-4">Box2Share</h1>
	  <p class="lead"><%= t('pages.home.jumbotron.lead') %></p>
	  <hr class="my-4">
	  <p class="lead text-center">
	    <a class="btn btn-primary btn-lg" href="#" role="button"><%= t('pages.home.jumbotron.getstarted') %></a>
	  </p>
	</div>
</div>