<br>
<div class="container">
  <div class="row">
    <div class="col-md-5 col-lg-6 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col align-self-center text-center">
              <% if  @shared_asset.asset.uploaded_file.variable? %>
                <%= image_tag @shared_asset.asset.uploaded_file.variant(resize: "250x250"), class: "img-thumbnail" %>
              <% elsif @shared_asset.asset.uploaded_file.previewable? %>
                <%= image_tag @shared_asset.asset.uploaded_file.preview(resize: "250x250"), class: "img-thumbnail" %>
              <% else %>
                <div>
                  <span>No hay vista previa para este archivo.</span>
                </div>
              <% end %>
            </div>
            <div class="col">
              <%= render 'shared_asset_details', shared_asset: @shared_asset %>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to download_path(@shared_asset.asset), class: "btn btn-block btn-primary", method: "post" do %>
            <i class="fas fa-file-download mr-1"></i> Descargar
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
