<% provide(:title, "Historial de pagos del servicio") %>

<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-right-arrow">
              <li class="breadcrumb-item active" aria-current="page">Historial de pagos del servicio</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= render partial: "payments_table", users: @payments %>
        </div>
      </div>
    </div>

    <%= render 'shared/panel_footer' %>

  </div>

</div>
