<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Planes disponibles</h1>
  <p class="lead">Estos son los planes a los que te puedes cambiar</p>
</div>

<div class="container">
  <div class="row">
    <div class="col offset-5">
      <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#monthly"><%= t('pages.pricing.tab.monthly') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#yearly"><%= t('pages.pricing.tab.yearly') %></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content">
    <div id="monthly" class="container tab-pane active"><br>
      <div class="row card-deck mb-3 text-center">
        <%= render partial: "plans/monthly_paid_plan", collection: @monthly_paid_plans %>
      </div>
    </div>
    <div id="yearly" class="container tab-pane fade"><br>
      <div class="row card-deck mb-3 text-center">
        <%= render partial: "plans/yearly_paid_plan", collection: @yearly_paid_plans %>
      </div>
    </div>
  </div>

</div>
