<p>Hola, <%= @user.name %></p>

<p>Lamentamos decirte que tu suscripción al plan <%= @subscription.name %> ha sido cancelada por impago. No obstante podrás seguir usando la suscripción gratuita. Si deseas volver a suscribirte de nuevo a algún plan deberás repetir el proceso.</p>
