<p>¡Adiós, <%= @user.name %>!</p>

<p>Tu suscripción al plan <%= @subscription.name %> ha sido cancelada. No obstante podrás seguir usando la suscripción gratuita.</p>

<p>Gracias de nuevo por usar nuestro producto. Estaremos aquí si alguna vez quieres darle otra oportunidad.</p>
