<div class="container p-4">
  <div class="row">
    <div class="col-6 mr-auto ml-auto">
      <div class="card">
        <div class="card-header">
          Subir archivo
        </div>
        <div class="card-body">
          <%= render 'form', asset: @asset %>
        </div>
      </div>
      <%= link_to 'Atrás', assets_path %>
    </div>
  </div>
</div>

