<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">

    <div class="container-fluid">
      <div class="row">
        <div class="col">
        </div>
      </div>
      <div class="row pt-4 pb-4">
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <div class="table-responsive">
                <table id="payments" class="table">
                  <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Fecha de subida</th>
                      <th scope="col">Tamaño</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @payments.each do |payment| %>
                      <tr>
                        <th scope="row" class="align-middle"></th>
                        <td class="align-middle"></td>
                        <td class="align-middle"> <%= l payment.created_at.to_datetime, format: :short %> </td>
                        <td class="align-middle"> - </td>
                        <td class="text-center align-middle"></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <br>
        </div>
      </div>

    </div>

    <%= render 'shared/panel_footer' %>

  </div>

</div>
