@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

/* GENERAL */

.body{
  padding-bottom: 180px;
}

/* HEADER */

.bg-custom {
  background-color: #1565C0;
}

/* FOOTER */

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* FEATURES */

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

/* HERO */

section.masthead {
  position: relative;
  background-color: #343a40;
  /*background: url(asset_path("bg-masthead.jpg")) no-repeat center center;*/
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

section.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

section.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  section.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  section.masthead h1 {
    font-size: 3rem;
  }
}

/* AVATAR */

.avatar {
  border-radius: 50%;
}

/* PAYMENT FORM */

#payment-form input[type=text]::-webkit-input-placeholder {
  color: #aab7c4
}

#payment-form input[type=text]:-moz-placeholder {
  color: #aab7c4
}

#payment-form input[type=text]::-moz-placeholder {
  color: #aab7c4
}

/* PANEL */

.breadcrumb-right-arrow .breadcrumb-item+.breadcrumb-item::before {
    content: "›";
  vertical-align:top;
  font-size:40px;
  line-height:15px;
}

