<% provide(:title, "Estadísticas del servicio") %>

<div id="wrapper">

  <%= render 'shared/sidebar' %>

  <div id="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-white breadcrumb-right-arrow">
              <li class="breadcrumb-item active" aria-current="page">
                Estadísticas del servicio
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row">
        <%= render "stat", locals: {
                              statistic: "#{humanized_money(@income)} €",
                              title: "Ingresos",
                              icon: "money-bill-wave-alt"
                            }
        %>
      </div>
      <br>
      <div class="row">

      </div>
      <br>
    </div>
    <%= render 'shared/panel_footer' %>
  </div>

</div>
