<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Elige el plan que mejor se adapte a ti.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <%= render @plans %>
  </div>
</div>



