<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4"><%= t('pages.pricing.title') %></h1>
  <p class="lead"><%= t('pages.pricing.subtitle') %></p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <%= render @plans %>
  </div>
</div>



