<div class="col-xl-3 col-lg-6 col-xs-12">
  <div class="card h-100 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
        <div class="col-3">
            <i class="fas fa-file-upload fa-3x text-custom"></i>
        </div>
        <div class="col-9 text-center">
          <h1 class="mb-0 font-weight-bold"><%= locals[:statistic] %></h1>
          <h6><%= locals[:title] %></h6>
        </div>
      </div>
    </div>
  </div>
</div>
