<div class="col-xl-3 col-sm-6 mb-3">
  <div class="card o-hidden h-100">
    <div class="card-body">
      <div class="card-body-icon">
        <i class="fas fa-fw fa-<%= locals[:icon] %> text-custom"></i>
      </div>
      <div class="mr-5"><h6><%= locals[:title] %></h6></div>
      <div class="mr-5"><h5><%= locals[:statistic] %></h5></div>
    </div>
  </div>
</div>
