<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body id="page-top">

    <%= render 'layouts/alert' %>

    <%= render "layouts/panel_header" %>

    <%= yield %>

    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

  </body>
</html>
